<article  class="article2" ng-controller="TeamDetailController">
    <section >
        <strong><a href="/">Back</a></strong>
        <div >
            <h3>Members:</h3>
            <ul>
                <li ng-repeat="x in details">
                    {{x.firstName}} {{x.lastName}}
                </li>
                <div>
                    {{ firstName }} {{lastName}}
                </div>
            </ul>
        </div>
    </section>
    <div ><form>
        <label>Name: </label>
        <input type="text" name="firstName" class="input1" ng-model="firstName"/><br/>
        <label>Prezime: </label>
        <input type="text" name="lastName" class="input2" ng-model="lastName"/>
        <br />
        <br />
        <button class="btn btn-danger" ng-click="SendData()">Submit</button>
        {{ PostDataResponse }}
    </form>
    </div>
</article>