body{
  font-family: Verdana;
}

.main{
  padding: 20px;
}

a{
  display:block;
  text-decoration: none;
}

.article1 ul{
  list-style-type: circle;
  width: 50px;
}

.article2 ul{
  list-style-type: none;
}

.input1{
  width: 200px;
  margin-left: 17px;
}

.input2{
  width: 200px;
}
